* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background: #111;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

/* NAV */
.nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background: black;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 22px;
    border-radius: 10px;
}

/* SEÇÕES */
section {
    padding: 30px;
}

.section-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.divider {
    height: 3px;
    background: crimson;
    margin: 40px 20px;
    border-radius: 2px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* CARD */
.card {
    background: #1a1a1a;
    padding: 12px;
    border-radius: 16px;
    border: 4px solid transparent;
    height: 520px;
    display: flex;
    flex-direction: column;
}

/* IMAGE BOX */
.image-box {
    flex: 1;
    background: black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* IMAGEM */
.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
    transform: rotate(-90deg);
}

/* BOTÕES */
.actions {
    display: none;
    margin-top: 12px;
    gap: 10px;
}

.card.show-actions .actions {
    display: flex;
}

.actions button {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* CORES */
.yes { background: #2ecc71; }
.no { background: #e74c3c; }

.card.correct { border-color: #2ecc71; }
.card.wrong { border-color: #e74c3c; }

/* RESPONSIVO */
@media (max-width: 500px) {

    section {
        padding: 8px;
    }

    .nav {
        flex-direction: column;
        gap: 8px;
        padding: 8px;
    }

    .nav a {
        font-size: 15px;
        padding: 6px;
    }

    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 6px;
    }

    .card {
        height: 190px;
        padding: 5px;
        border-radius: 8px;
    }

    .actions button {
        font-size: 11px;
        padding: 5px;
    }
}